################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/OcrConsoleAppFx/v16/TestStore/0
/.vs
/src/publish
/src/Properties
/src/WindowCaptures.zip
